.floating{
    float: left;
    -webkit-animation-name: Floatingx;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
    -moz-animation-name: Floating;
    -moz-animation-duration: 2s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: ease-in-out;
    margin-left: 30px;
    margin-top: 5px;

}

@-webkit-keyframes Floatingx{
    from {-webkit-transform:translate(0, 0px);}
    50% {-webkit-transform:translate(0, 10px);}
    to {-webkit-transform: translate(0, -0px);}
}

@-moz-keyframes Floating{
    from {-moz-transform:translate(0, 0px);}
    50% {-moz-transform:translate(0, 10px);}
    to {-moz-transform: translate(0, -0px);}
}
