.riot_grrrl {
  z-index: 1;
  position: fixed;
  margin: 200px 0 0 280px;
}

.element {
  font-family: FuckingAWF;
  font-size: 85px;
  color: #ff42cb;
}

.square {
  position: fixed;;
  margin-top: 100px;
  margin-left: 200px;
  height: 700px;
  max-width: 700px;
  min-width: 700px;
  border: 15px solid #9eff46;
}

#music {
  position: absolute;
  bottom: 20px;
  right: 40px;
  background-image: url(../img/music.png);
  width: 398px;
  height: 314px;
}
