#song_text {
  position: absolute;
  background-size: cover;
  overflow: hidden;
  min-width: 800px;
  max-width: 800px;
  height: 910px;
  left: 32vw;
  top: 2vh;
}

#song {
  font-family: FuckingAWF;
  font-size: 35px;
  color: #ff42cb;
  animation-name: flash;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-play-state: running;
}

@keyframes flash {
  from {
    color: #ff42cb;
  }
  to {
    color: #9eff46;
  }
}

.gif {
  margin-top: 2vh;
  width: 500px;
  height: 800px;
}

.gif img {
  max-width: 100%;
  height: auto;
  width: auto;
}
