#page5 {
  overflow: hidden;
  background: white;
  width: 100%;
  height: 100%;
}

.cagecanvas {
  width: 100%;
  height: 100%;
  position:absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.cageface {
  background-image: url(../fuck.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 130px;
  height: 175px;
  position: absolute;
}

.likely {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 600px;
  height: 350px;
  background-color: white;
  border: 10px solid #9eff46;
}

#fb {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

#vk {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.share_button {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: 15%;
}

.likely p {
  font-family: FuckingAWF;
  font-size: 35px;
  color: #ff42cb;
  margin: 50px 0 0 120px;
}
