/*.bg_2 {
  background-color: #ff42cb;
  width: 30vw;
  height: 100%;
  margin-right: 70vh;
}*/

.song_text {
  position: absolute;
  background-size: cover;
  overflow: hidden;
  min-width: 800px;
  max-width: 800px;
  height: 910px;
  left: 32vw;
  top: 1vh;
}

#song {
  font-family: FuckingAWF;
  font-size: 35px;
  color: #ff42cb;
}

.gif {
  width: 500px;
  height: 800px;
}

.gif img {
  max-width: 100%;
  height: auto;
  width: auto;
}
