.riot_grrrl {
  z-index: 1;
  position: absolute;
  margin: 250px 0 0 250px;
}

.element {
  font-family: FuckingAWF;
  font-size: 85px;
  color: #ff42cb;
}


.square {
  position: absolute;
  top: 200px;
  left: 200px;
  width: 700px;
  height: 700px;
  border: 15px solid #9eff46;
}

#music {
  position: absolute;
  bottom: 20px;
  right: 40px;
  background-image: url(../img/music.png);
  width: 398px;
  height: 314px;
}
