.text {
  z-index: 1;
  position: absolute;
  margin: 170px 0 0 145px;
}

.element {
  font-family: FuckingAWF;
  font-size: 85px;
  color: #ff42cb;
}


.square {
  position: absolute;
  margin: 45px 0px 0px 100px;
  width: 630px;
  height: 630px;
  background: white;
  border: 15px solid #9eff46;
}
