.text {
  z-index: 1;
  position: absolute;
  margin: 170px 0 0 145px;
}

.element {
  font-family: FuckingAWF;
  font-size: 85px;
  color: #ff42cb;
}


.square {
  position: absolute;
  margin: 70px 0px 0px 100px;
  width: 700px;
  height: 700px;
  background: white;
  border: 15px solid #9eff46;
}

#music {
  position: absolute;
  bottom: 20px;
  right: 40px;
  background-image: url(../img/music.png);
  width: 398px;
  height: 314px;
}
